.movies {
  width: 94vw;
  margin: 0 auto 160px;
}

@media (min-width: 750px) {
  .movies {
    width: 92vw;
  }
}

@media (min-width: 1100px) {
  .movies {
    width: 89vw;
    margin-bottom: 80px;
  }
}

@media (min-width: 1280px) {
  .movies {
    width: 90%;
    margin-bottom: 80px;
  }
}
