.info-tooltip {
  width: 280px;
  height: 270px;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  position: relative;
}

.info-tooltip__btn-close {
  width: 20px;
  height: 20px;
  background-image: url(../../images/close.svg);
  background-size: cover;
  position: absolute;
  top: -35px;
  right: 0px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.info-tooltip__btn-close:hover {
  opacity: 0.5;
}

.info-tooltip__img {
  width: 100px;
  height: 100px;
  display: block;
  font-size: 80px;
  text-align: center;
  margin: 35px auto 30px;
  outline: 1px #fff solid;
  outline-offset: -1px;
  background-size: cover;
}

.info-tooltip__title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 15px auto;
  width: 80%;
}

@media (min-width: 600px) {
  .info-tooltip {
    width: 320px;
  }

  .info-tooltip__btn-close {
    width: 35px;
    height: 35px;
    top: -45px;
    right: -30px;
  }
}
