.header {
  width: 90%;
  margin: 14px auto;
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  height: 26px;
  margin-top: 8px;
}

.button-register {
  font-family: "Inter", Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
  color: #000;
  text-decoration: none;
  margin: 8px 14px;
  height: 16px;
}

.button-login {
  color: #000;
  text-decoration: none;
  background-color: #2be080;
  font-family: "Inter", Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  display: block;
  margin-top: 0;
  width: 54px;
  height: 22px;
  text-align: center;
  border-radius: 3px;
  padding-top: 5px;
  box-sizing: content-box;
}

.burger {
  width: 40px;
  height: 43px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/menu_burger_icon_251879.svg);
  display: block;
}

.main-menu {
  display: none;
  height: 32px;
  align-items: center;
}

.button-movies {
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;
  color: #000;
  margin-left: 16px;
}

.button-movies-active {
  font-weight: 500;
}

.button-profile {
  display: none;
  width: 100px;
  height: 24px;
  padding-top: 10px;
  border-radius: 20px;
  background-color: #f9f9f9;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 550px) {
  .header {
    width: 92vw;
    height: 38px;
    margin: 18px 30px;
  }

  .button-register {
    font-size: 12px;
    margin: 0 30px 0 0;
  }

  .button-login {
    width: 76px;
    height: 28px;
    font-size: 12px;
    padding-top: 8px;
  }

  .menu {
    margin-top: 5px;
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .header {
    width: 89vw;
    margin: 18px auto;
  }

  .menu {
    margin-top: 0;
    margin-top: 5px;
  }

  .burger {
    display: none;
  }

  .button-register {
    font-size: 12px;
  }

  .button-login {
    width: 76px;
    height: 24px;
    padding-top: 8px;
  }

  .main-menu {
    display: flex;
    width: 80%;
    margin: auto;
    margin: 0;
    padding: 0;
  }

  .button-profile {
    display: block;
  }
}
